h1 {
  font-family: "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 4em;
  margin: 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

h1::before,
h1::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background: 0;
  margin: 10px 0;
}

.game {
  margin: 0;
  height: 97vh;
  background: linear-gradient(to bottom, #87ceeb 0%, #1e90ff 100%);
}

.interface {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.field {
  display: flex;
  border: 2px solid #000;
  flex-direction: column;
  align-items: center;
  width: 30vh;
  height: 30.5vh;
  margin-top: 5%;
}

.spinner {
  position: fixed;

  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  margin-top: 15vh;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.victory,
.defeat {
  font-family: "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  margin: 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.victory {
  color: #4caf50;
}

.defeat {
  color: #ff6347;
}

.player {
  background-color: #b3e0ff;
}
.ai {
  background-color: #ff9999;
}

.button {
  width: 5%;
  height: 73%;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}

.player.ship {
  background-color: #a96534;
}

.ghostShip {
  background-color: lightgreen;
}

.hit {
  background-color: red;
}

.ai.ship {
  background-color: #ffe;
}

.check {
  background-color: #61b8f2;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls button {
  margin: 5px;
}

.hidden {
  display: none !important;
}
